html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #4266f5 !important;
}

.navbar {
    background-color: red;
}

.container-fluid {
    padding: 0 !important;
}

.main-container {
    padding-top: 64px !important;
}